*::selection {
    background: #8fbe00;
    color: #fff;
}
*::-moz-selection {
    background: #8fbe00;
    color: #fff;
}
*::-webkit-selection {
    background: #8fbe00;
    color: #fff;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    color: #444;
}
@media only screen and (max-width: 1000px) {
    body {
        font-size: 0.9em;
    }
}
em {
    font-style: normal;
    font-style: italic;
}
h1 {
    margin-top: 2em;
    font-family: 'Cabin', sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #333;
}
h2 {
    margin-top: 2em;
    margin-bottom: .3em;
    font-family: 'Cabin', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    font-style: normal;
    color: #333;
}
.wrap {
    margin: 0 auto;
    width: 45%;
}
@media only screen and (min-width: 0px) and (max-width: 1100px) {
    .wrap {
        width: 90%;
    }
}
.wrap > footer {
    margin-top: 2em;
    padding: 2em 0;
    border-top: 1px solid #dfdfdf;
    text-align: center;
    font-size: 0.8em;
}
header {
    margin-bottom: 4em;
    padding: 100px 0;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
}
header .title {
    font-family: 'Cabin', sans-serif;
    font-size: 3.3em;
    margin-bottom: 10px;
}
header .navi {
    font-size: 1.15em;
}
header .navi ul {
    margin: 0.4em 0 0;
    padding: 0;
    list-style: none;
}
header .navi ul li {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    margin: 0;
    padding: 0 0.4em;
}
header .navi ul li a {
    color: #333;
    text-decoration: none;
}
header .navi ul li a:active,
header .navi ul li a:hover {
    color: #8fbe00;
}
a {
    color: #8fbe00;
    text-decoration: none;
}
a:hover {
    color: #333;
}
blockquote {
    font-style: italic;
    font-size: 1em;
}
article {
    margin-bottom: 6em;
    padding: 0;
    font-size: 1.1em;
    line-height: 1.7em;
    text-align: justify;
}
article .content {
    padding-bottom: 2em;
}
article .content p.caption {
    font-size: 13px;
    text-align: center;
    color: #999;
}
article li .button {
    float: right;
    position: relative;
    top: 2px;
}
article footer {
    border-bottom: 1px solid #dfdfdf;
    padding: 1em 0;
}
article h1,
article h2,
article h3 {
    text-align: left;
}
article h1 a,
article h2 a,
article h3 a {
    color: #333;
}
article h1 a:hover,
article h2 a:hover,
article h3 a:hover {
    color: #8fbe00;
}
article header {
    margin: 0 0 3em;
    padding: 0;
    border: 0;
    text-align: center;
}
article header h1 {
    font-size: 1.6em;
    font-weight: normal;
    font-style: normal;
    line-height: 1.3em;
    text-align: center;
}
article header time {
    display: block;
    font-size: .9em;
    font-style: normal;
    color: #555;
    margin-top: -16px;
}
article hr {
    margin: 4em !important;
    height: 1px;
    border: none;
    color: #dfdfdf;
    background-color: #dfdfdf;
}
article p .caption {
    font-style: italic;
    font-size: 0.9em;
}
article p img {
    max-width: 100%;
    padding: 4px;
    -webkit-box-shadow: 0 0 0 1px #b0b0b0;
    box-shadow: 0 0 0 1px #b0b0b0;
}
article p .word1,
article p .word2,
article p .word3 {
    font-size: 1em;
    font-variant: small-caps;
}
pre {
    position: relative;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 1.8em;
    background-color: #fff;
    overflow: hidden;
}
pre .clip-btn {
    position: absolute;
    top: 0;
    right: 1em;
    font-size: 0.8em;
    text-decoration: underline;
}
@media only screen and (max-width: 1000) {
    pre .clip-btn {
        display: none;
    }
}
code {
    margin: 0.4em 0;
    padding: 0.4em;
    font-family: monospace;
    font-size: 0.75em;
}
p > code {
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    white-space: nowrap;
}
.pagination {
    position: relative;
    margin: 5em 0;
    font-weight: 500;
}
.pagination a {
    font-size: 1em;
    color: #333;
    text-decoration: none;
}
.pagination a:hover {
    color: #8fbe00;
}
.pagination .newer {
    position: absolute;
    top: 0;
    right: 0;
}
.pagination .older {
    position: absolute;
    top: 0;
    left: 0;
}
.pagination span {
    display: block;
    width: 100%;
    text-align: center;
}
.cat-year {
    padding-top: 1.5em;
    font-size: 1.3em;
}
.cat-month {
    margin: 1em 0 0.5em 1em;
    font-size: 1em;
}
.title-listing {
    margin-left: 1em;
}
.me {
    text-align: center;
    height: 0;
    margin-top: -20px;
}
.me img {
    border-radius: 60px;
    top: -195px;
    position: relative;
    padding: 0;
    border: 4px solid #fff;
}

blockquote {
    border-left: 5px solid #efefef;
    color: #666;
    margin: 0;
    padding-left: 20px;
    margin-left: 20px;
}
